<section>

	<h3 id="contact">Contact Me</h3>

	<p id="email">enguyen<span class="at-sign">@</span>uw.edu</p>

	<hr class="divider" />

	<div class="contact-icons">

		<a href="http://www.linkedin.com/in/nguyenedward/">
			<div class="contact-linkedin">{% include icons/icon-linkedin.html %}</div></a>
		<a href="https://twitter.com/edwardhnguyen">
			<div class="contact-twitter">{% include icons/icon-twitter.html %}</div></a>
		<a href="http://instagram.com/edward_nn">
			<div class="contact-instagram">{% include icons/icon-instagram.html %}</div></a>

	</div>

</section>